#darling {
    color: #FFFFFF;
    font-size: 85%;
    height: 200px;
    width: 150px;
    background-image: url("/images/darling1.png");
    background-repeat:no-repeat;
    background-size: 165px 200px;
    position: fixed;
    bottom: 0;
    right: 0;
}
.darling-head {
    width: 250px;
    height: 100px;
    position: relative;
    right: 100px;
}
#darling-say {
    color: #FF69B4;
    background: rgba(0,0,0,0.9);
    border-radius: 10px;
    box-shadow: 0 0 2px #FFFFFF;
    width: 135px;
    padding: 5px;
}
