<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
            {% if page.title %}
                {{ page.title}}
            {% else %}
                {{ site.title}}
            {% endif %}
        </title>
		<link rel="stylesheet" href="/css/layout.css" />
		<link rel="stylesheet" href="/css/font.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        {% for css in page.stylesheet %}
            <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
	</head>
	<body>
		<header>
			<div class="logobar">
                <div class="logobar_title"><a href="/blog.html">我的归宿在哪儿?</a></div>
			</div>
		</header>
		<div class="inc">
            {{ content }}
		</div>
		<footer>
            Powered By GitHub Lnc.<br>
            Theme By Don && Maplebeats<br>
            Author SDsama<br>
            <!--链接:
            <a href="http://www.5dimn.com/">Q.D.</a>
            <a href="http://www.cherrot.com/">切萝卜</a>
            <a href="http://www.lainme.com">lainme</a>
            <a href="http://www.hsyyf.me/">南瓜</a>
            <a href="http://gndrive.org/">猎户项圈</a>-->
		</footer>
        <script src="/js/lib.js"></script>
        {% for js in page.javascript %}
            <script src="{{ js }}"></script>
        {% endfor %}
</html>
